body {
    /* background-image: url('https://wallpapercave.com/wp/4j9oZEK.jpg'); */
    background-size: cover;
  }
  
  .container {
    margin-top: 50px;
    border: 2px solid white;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.8492647058823529) 8%, rgba(250,251,249,0) 100%);
  }
  
  h1 {
    color: #fff;
  }
  
  .wheel-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 50px auto;
  }
  
  .wheel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%;
    animation-name: rotate;
    animation-duration: 1s;
    /* animation-iteration-count: infinite; */
    animation-timing-function: cubic-bezier(0.36, 2.01, 0.64, 1);
  }
  
  .slice {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 0px;
    text-align: center;
    line-height: 300px;
  }
  
  .slice-1 {
    background-color: #f44336;
    transform: rotate(60deg);
  }
  
  .slice-2 {
    background-color: #ffc107;
    transform: rotate(120deg);
  }
  
  .slice-3 {
    background-color: #4caf50;
    transform: rotate(180deg);
  }
  
  .slice-4 {
    background-color: #9c27b0;
    transform: rotate(240deg);
  }
  
  .slice-5 {
    background-color: #2196f3;
    transform: rotate(300deg);
  }
  
  .slice-6 {
    background-color: #ff5722;
    transform: rotate(360deg);
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .arrow {
    position: absolute;
    top: calc(47% - 30px);
    left: calc(43% - 15px);
    width: 81px;
    height: 82px;
    z-index: 10;
    transform-origin: bottom center;
  }
  
  #spin-btn {
    margin-top: 30px;
  }
  
  #result {
    margin-top: 30px;
    color: #fff;
    font-size: 24px;
  }



  html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, rgb(89, 255, 0));
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }